In [1]:
# Load libraries
import os
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
import seaborn as sns 
import matplotlib.pyplot as plt

# Read csv files
full_path = os.path.realpath("cleaning_py.ipynb")
path, filename = os.path.split(full_path)
os.chdir(path)
os.chdir('../data')
ap = pd.read_fwf('cleaned_apple_tweets.csv', sep=',')
gs = pd.read_fwf('cleaned_goldman_sachs_tweets.csv', sep=',')
hd = pd.read_fwf('cleaned_home_depot_tweets.csv', sep=',')

apdf = pd.DataFrame(ap)
gsdf = pd.DataFrame(gs)
hddf = pd.DataFrame(hd)

# Concact
pieces = {'apple': apdf, 'goldman_sachs': gsdf, 'home_depot': hddf}
df_concate = pd.concat(pieces, names=['company'], axis = 0)
df_concate

                     email goldman       koch
company
apple      0          want     NaN        NaN
           1     something     NaN        NaN
           2          must     NaN        NaN
           3      approach     NaN        NaN
           4        slowly     NaN        NaN
...                    ...     ...        ...
home_depot 1923        NaN     NaN          w
           1924        NaN     NaN  kurtishan
           1925        NaN     NaN  kurtishan
           1926        NaN     NaN  edealinfo
           1927        NaN     NaN  koch,indu

[5341 rows x 3 columns]

In [25]:
## Naive bayes classifer
train_data, test_data, train_labels, test_labels = train_test_split(df, test_size = 0.2, random_state=4)

ValueError: not enough values to unpack (expected 4, got 2)